table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    font-size: small;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

th {
    height: 40px;
    color: black;
}

td {
    text-align: center;
    color: black;
    background-color: white;
}

td a {
    color: darkblue;
}

.width {
    width: 10px;
    max-width: 300px;
}

.height {
    height: 100px;
    max-width: 300px;
    overflow: hidden;
}

table img {
    width: 100%;
    max-width: 200px;
}

td:first-child {
    color: black;
    background-color: white;
}

tr:nth-child(even) {
    background-color: rgb(62, 62, 62);
    background-color: rgba(62, 62, 62, 0.6);
}
